<% if @user.errors.any? %>
  <div>
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2> 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<!--  <form action='/users' method='post' accept-charset="UTF-8">
	  <label for='user[username]'>Name:</label>
	  <input name='user[username]' type='text'>

	  <label for='user[email]'>Email:</label>
	  <input name='user[email]' type='text'>

	  <label for='user[password]'>Password:</label>
	  <input name='user[password]' type='password'>

	  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	  <input type="submit" value="Submit">
  </form> -->

<!--
 <%= form_tag('/users', method: 'post') do %>
	<%= label_tag(:username, 'Userame') %>
	<%= text_field_tag(:username) %>

	<%= label_tag(:email, 'Email') %>
	<%= email_field_tag(:email) %>

	<%= label_tag(:password, 'Password') %>
	<%= password_field_tag(:password) %>
	<%=submit_tag('Submit') %>
<% end %>
-->

<%= form_for @user do |f| %>
	<div>
		<%= f.label :username %>
		<%= f.text_field :username, placeholder: "Userame" %>
	</div>

	<div>
		<%= f.label :email %>
		<%= f.email_field :email, placeholder: "example@email.com" %>
	</div>

	<div>
		<%= f.label :password %>
		<%= f.password_field :password, placeholder: "*" * 6%>
	</div>

	<div>
		<%= f.submit 'Submit' %>
	</div>
<% end %>